*{
    box-sizing: border-box;
}
/*.accountcreation{
    margin-left: 175px;
    background: #ffffff;
    width:790px;
    padding-top: 25px;
    padding-left: 180px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: smaller;
}*/
.meta{
    height: 65px;
    width: 75px;
    margin-top: -25px;
}
.firsthead{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin-top:-15px;
    font-size: x-large;
}
.para1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
}
#namefield{
    font-weight: bold;
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#namefield input{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 250px;
    height: 50px;
    padding: 8px;
    border-radius: 15px;
    border: 2px solid #1877f2;
    margin: 5px;
    box-sizing: border-box;
}
#namefield input:focus{
    outline: none;
}
#namefield input::placeholder{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    color: #1877f2;
}
#namefield input:not(:placeholder-shown):invalid{
    border: 2px solid #F3425F;
    box-shadow: 0 0 10px #F3425F;
    color : #F3425F;
}
#namefield input:not(:placeholder-shown):invalid::placeholder{
    color:r#F3425Fed;
}
.dob{
    font-weight: bold;
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dob input:focus{
    outline: none;
}
.dob select{
    border: 2px solid #1877f2;
    width: 125px;
    height: 50px;
    border-radius: 8px;
    margin: 5px;
    font-size: medium;
    padding: 10px;
}
.gender{
    font-weight:bold;
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gender select{
    border: 2px solid #1877f2;
    width:500px;
    height: 50px;
    border-radius: 8px;
    margin: 5px;
    font-size: medium;
    padding: 10px;
}
.mobmail{
    font-size: medium;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.mobmail input{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px solid #1877f2;
    width: 475px;
    height: 35px;
    border-radius: 15px;
    margin: 5px;
    font-size: medium;
    padding: 10px;
    transition: 0.3s;
}
.mobmail input:focus{
    outline: none;
}
.mobmail input::placeholder{
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1877f2;
}
.mobmail input:not(:placeholder-shown):invalid{
    border: 2px solid #F3425F;
    box-shadow: 0 0 10px #F3425F;
    color: #F3425F;
}
.mobmail input:not(:placeholder-shown):invalid::placeholder{
    color: #F3425F;
}
.password{
    font-size: medium;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.password input{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px solid #1877f2;
    width: 475px;
    height: 35px;
    border-radius: 15px;
    margin: 5px;
    font-size: medium;
    padding: 10px;
    transition:0.3s;
}
.password input:focus{
    outline: none;
}
.password input::placeholder{
    font-size: medium;
    color: #1877f2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.password input:not(:placeholder-shown):invalid{
    border:2px solid #F3425F;
    box-shadow: 0 0 10px #F3425F;
    color: #F3425F;
}
.password input:not(:placeholder-shown):invalid::placeholder{
    color: #F3425F;
}
.contact{
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: medium;
}
.links{
    font-size: medium;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: #0064E0;
}
.button1{
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    background: #0064E0;
    border: 1px #fff;
    color: #fff;
    width: 500px;
    height: 40px;
    border-radius: 150px;
}
#button2{
    margin: 5px;
    font-size: medium;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    background: #fff;
    border: 1px solid #ccc;
    width:500px;
    height: 40px;
    border-radius: 150px;
}
#button2:hover{
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
#button0{
    padding:0px;
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: grey;
    width:40px;
    height:40px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    outline: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
#button0:hover{
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
.body{
    margin:0;
}
.footer span{
    display: inline-block;
    margin-right: 30px;
}
.footlinks{
    margin-right: 7px;
    font-size: 15px;
    text-align: left;
    text-decoration: none;
    color: darkslategray;
}
.left{
    
}
.fblogo{
    width: 100px;
    height: 100px;
    margin: 30px;
}
/*.homepic{
    height: 600px;
    width: 600px;
    margin-top: -160px;
    margin-left: 70px;
}
.hometitle{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: -190px;
    margin-left: 25px;
    font-size: 55px;
    font-weight: bold;
}*/
.right{
    
}
.right input{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px solid #1877f2;
    width: 475px;
    height: 35px;
    border-radius: 15px;
    margin-top: 5px;
    margin-left:50px ;
    font-size: medium;
    padding: 10px;
    transition: 0.3s;
}
.right input:focus{
    outline: none;
}
.right input::placeholder{
    font-size: medium;
    color: #1877f2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.forgotpass{
    margin-left: 50px;
    font-size: medium;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #fff;
    border: 1px solid #ffffff;
    width: 500px;
    height: 40px;
    border-radius: 150px;
    margin-bottom: 50px;
}
.createaccount{
    margin-left: 50px;
    margin-bottom: 25px;
    font-size: medium;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #ffffff;
    border: 1px solid #1877f2;
    color :#1877f2;
    width:500px;
    height: 40px;
    border-radius: 150px;
}
