*{
    box-sizing: border-box;
}
header{
    min-height: 100vh;
}
.fbpage{
    background: #ffffff;
    width:100%;
}
.accountcreation {
    max-width: 600px;
    margin: auto;
}
.meta{
    height: 4em;
    width: 4.6em;
    margin-top: -25px;
}
.metahome{
    height: 4.5em;
    width: 4.5em;
    margin-left: 15em;
}
.firsthead{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin-top:-15px;
    font-size: x-large;
}
.para1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
}
#namefield{
    font-weight: bold;
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#namefield input{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 250px;
    height: 50px;
    padding: 8px;
    border-radius: 15px;
    border: 2px solid #1877f2;
    margin: 5px;
    box-sizing: border-box;
}
#namefield input:focus{
    outline: none;
}
#namefield input::placeholder{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    color: #1877f2;
}
#namefield input:not(:placeholder-shown):invalid{
    border: 2px solid #F3425F;
    box-shadow: 0 0 10px #F3425F;
    color : #F3425F;
}
#namefield input:not(:placeholder-shown):invalid::placeholder{
    color:r#F3425Fed;
}
.dob{
    font-weight: bold;
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dob input:focus{
    outline: none;
}
.dob select{
    border: 2px solid #1877f2;
    width: 125px;
    height: 50px;
    border-radius: 8px;
    margin: 5px;
    font-size: medium;
    padding: 10px;
}
.gender{
    font-weight:bold;
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gender select{
    border: 2px solid #1877f2;
    width:500px;
    height: 50px;
    border-radius: 8px;
    margin: 5px;
    font-size: medium;
    padding: 10px;
}
.mobmail{
    font-size: medium;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.mobmail input{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px solid #1877f2;
    width: 32em;
    height: 3.5em;
    border-radius: 15px;
    margin: 5px;
    font-size: medium;
    padding: 10px;
    transition: 0.3s;
}
.mobmail input:focus{
    outline: none;
}
.mobmail input::placeholder{
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1877f2;
}
.mobmail input:not(:placeholder-shown):invalid{
    border: 2px solid #F3425F;
    box-shadow: 0 0 10px #F3425F;
    color: #F3425F;
}
.mobmail input:not(:placeholder-shown):invalid::placeholder{
    color: #F3425F;
}
.password{
    font-size: medium;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.password input{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px solid #1877f2;
    width: 32em;
    height: 3.5em;
    border-radius: 15px;
    margin: 5px;
    font-size: medium;
    padding: 10px;
    transition:0.3s;
}
.password input:focus{
    outline: none;
}
.password input::placeholder{
    font-size: medium;
    color: #1877f2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.password input:not(:placeholder-shown):invalid{
    border:2px solid #F3425F;
    box-shadow: 0 0 10px #F3425F;
    color: #F3425F;
}
.password input:not(:placeholder-shown):invalid::placeholder{
    color: #F3425F;
}
.contact{
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: medium;
}
.links{
    font-size: medium;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: #0064E0;
}
.button1{
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    background: #0064E0;
    border: 1px #fff;
    color: #fff;
    width: 500px;
    height: 40px;
    border-radius: 150px;
}
#button2{
    margin: 5px;
    font-size: medium;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    background: #fff;
    border: 1px solid #ccc;
    width:500px;
    height: 40px;
    border-radius: 150px;
}
#button2:hover{
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
#button0{
    padding:0px;
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: grey;
    width:40px;
    height:40px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    outline: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
#button0:hover{
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
.body{
    margin:0;
}
.footer span{
    display: inline-block;
    margin-right: 30px;
}
.footlinks{
    margin-right: 7px;
    font-size: 15px;
    text-align: left;
    text-decoration: none;
    color: darkslategray;
}
.fblogo{
    height: 6em;
    width: 10em;
    margin: 30px;
}
.homepic {
    margin-top: -75px;
}
.hometitle {
    font-size: 55px;
    font-weight: bold;
}
.hero-text-block {
    position: absolute;
    bottom: 60px;
    left: 40px;
}
.hero-text{
    margin-top: -300px;
    line-height: 1.1;
    font-size: 60px;
    
}
.login-box {
    width: 100%;
    max-width: 600px;
}

.left-section {
    
    position: relative;
    padding: 40px;
    padding-left: 30px;   /* pushes content like FB */
}

.right-section {
    border-left: 1px solid #ddd;
}

.right input{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px solid #1877f2;
    width: 475px;
    height: 35px;
    border-radius: 15px;
    margin-top: 5px;
    margin-left:50px ;
    font-size: medium;
    padding: 10px;
    transition: 0.3s;
}
.right-section input:focus{
    outline: none;
}
.right-section input::placeholder{
    font-size: medium;
    color: #1877f2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.forgotpass{
    margin-left: 50px;
    font-size: medium;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #fff;
    border: 1px solid #ffffff;
    width: 500px;
    height: 40px;
    border-radius: 150px;
    margin-bottom: 50px;
}
.createaccount{
    margin-left: 50px;
    margin-bottom: 25px;
    font-size: medium;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #ffffff;
    border: 1px solid #1877f2;
    color :#1877f2;
    width:500px;
    height: 40px;
    border-radius: 150px;
}
.form-control {
    font-weight: bold;
    height: 4em;
    border-radius: 15px;
    padding: 12px;
    font-size: 14px;
}
.btn{
    border-radius: 25px;
    height: 3em;
}
.forgot-btn {
    font-weight: 500;
  transition: background-color 0.2s ease;
}

.forgot-btn:hover {
  background-color: #eef0f3;  /* very subtle grey */
  color: inherit;             /* keep same text color */
  box-shadow: #eef0f3;           /* remove Bootstrap hover shadow */
  border: solid 1px #eef0f3;
}

.create-btn{
    font-weight: 500;
    transition: background-color 0.2s ease;
}
.create-btn:hover {
  background-color: #eef0f3;   /* subtle grey */
  color: #1877f2;              /* KEEP FB blue text */
  border-color: #1877f2;       /* keep border blue */
  box-shadow: none;            /* remove bootstrap glow */
}